node_modules

/.cache
/build
.env
.vscode
dev.db*
.vercel
*.local
dist
.DS_Store
dev-dist
coverage
.docs
tsconfig.tsbuildinfo
.cache

# Playwright
/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/test-results/